@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import 'variables';

body {
    font-family: 'Poppins', sans-serif;
    color: $black;
    background: $white;
}

a {
    color: $brown;
    &:hover {
        color: $brown;
    }
}

main {
    min-height: 90vh;
}

.bg-white {
    background: $white;
}

.text-bold {
    font-weight: 700;
}

.text-jumbo {
    font-size: 2em;
}

.text-small {
    font-size: 11px;
}

.text-gray {
    color: $gray;
}

.text-center {
    text-align: center;
}

.heading {
    font-size: 35px;
}

.btn-primary {
    background: $brown;
    border: 0;
    &:hover, &:active, &:focus {
        background: $gray;
        outline: none;
        box-shadow: none;
    }
}

.shadow-dark {
    -webkit-box-shadow: 0 0 5px rgba(48, 46, 47, 0.10);
    box-shadow: 0 0 5px rgba(48, 46, 47, 0.10);
}

img.card-img-top {
    height: 200px;
    object-fit: cover;
}

.carousel {
    height: 700px;
    overflow: hidden;
}

img.carousel-img {
    height: 700px !important;
    object-fit: cover;
}

.footer {
    font-size: 0.9em !important;
    color: #929397;
    background: #171a1f;
}

.footer-title {
    font-size: 1.3em;
    color: inherit;
}

img.max-5 {
    max-height: 600px;
    object-fit: cover;
}

a.text-dark {
    color: black;
    &:hover {
        color: $brown !important;
    }
}

img.cover {
    height: 100%;
    object-fit: cover;
}

p.p-wrap {
    width:100%;
    word-break:break-word;
}
