@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;

400;500;600;700;800;900&display=swap);body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  background: #FFFFFF;
}

a {
  color: #AE9277;
}

a:hover {
  color: #AE9277;
}

main {
  min-height: 90vh;
}

.bg-white {
  background: #FFFFFF;
}

.text-bold {
  font-weight: 700;
}

.text-jumbo {
  font-size: 2em;
}

.text-small {
  font-size: 11px;
}

.text-gray {
  color: #5C5C5C;
}

.text-center {
  text-align: center;
}

.heading {
  font-size: 35px;
}

.btn-primary {
  background: #AE9277;
  border: 0;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background: #5C5C5C;
  outline: none;
  box-shadow: none;
}

.shadow-dark {
  box-shadow: 0 0 5px rgba(48, 46, 47, 0.1);
}

img.card-img-top {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel {
  height: 700px;
  overflow: hidden;
}

img.carousel-img {
  height: 700px !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  font-size: 0.9em !important;
  color: #929397;
  background: #171a1f;
}

.footer-title {
  font-size: 1.3em;
  color: inherit;
}

img.max-5 {
  max-height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

a.text-dark {
  color: black;
}

a.text-dark:hover {
  color: #AE9277 !important;
}

